In [22]:
import pandas as pd

x = pd.read_csv('Titanic.csv')
x['a'] / x['b']

/usr/local/lib/python3.4/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

    Unnamed: 0 Class     Sex    Age Survived  Freq
0            1   1st    Male  Child       No     0
20          21   1st  Female  Child      Yes     1
16          17   1st    Male  Child      Yes     5
8            9   1st    Male  Adult       No   118
28          29   1st  Female  Adult      Yes   140
12          13   1st  Female  Adult       No     4
24          25   1st    Male  Adult      Yes    57
4            5   1st  Female  Child       No     0
29          30   2nd  Female  Adult      Yes    80
9           10   2nd    Male  Adult       No   154
21          22   2nd  Female  Child      Yes    13
25          26   2nd    Male  Adult      Yes    14
13          14   2nd  Female  Adult       No    13
1            2   2nd    Male  Child       No     0
5            6   2nd  Female  Child       No     0
17          18   2nd    Male  Child      Yes    11
22          23   3rd  Female  Child      Yes    14
26          27   3rd    Male  Adult      Yes    75
6            7   3rd  Female  Child       No    17
2            3   3rd    Male  Child       No    35
14          15   3rd  Female  Adult       No    89
10          11   3rd    Male  Adult       No   387
18          19   3rd    Male  Child      Yes    13
30          31   3rd  Female  Adult      Yes    76
27          28  Crew    Male  Adult      Yes   192
15          16  Crew  Female  Adult       No     3
19          20  Crew    Male  Child      Yes     0
11          12  Crew    Male  Adult       No   670
7            8  Crew  Female  Child       No     0
3            4  Crew    Male  Child       No     0
23          24  Crew  Female  Child      Yes     0
31          32  Crew  Female  Adult      Yes    20